<div class="card w-80">
    <div class="card-body">
      <h3 class="card-title">{{suppliers?.suppliersName}}</h3> <br>
      
      <table>
        <tr>
          <th>Description:</th>
          <td>{{suppliers?.description}}</td>
        </tr>
        <tr>
          <th>suppliersEmail:</th>
          <td>{{suppliers?.suppliersEmail}}</td>
        </tr>

          
      </table>

      <br>
      <a href="Javascript.void(0)" routerLink="../" class="btn btn-secondary">Back</a> &nbsp;&nbsp;
      <a href="Javascript.void(0)" routerLink="suppliers-edit" class="btn btn-success">Edit</a> &nbsp;&nbsp;
    </div>
  </div>
  
